* {
  margin: 0;
}

/* .App {
  font-family: 'Kanit', sans-serif;
  font-family: 'Open Sans', sans-serif;
} */

header {
  background: linear-gradient(89.04deg, #101935 0%, #354476 98.04%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 30px 90px;
}

.Header-title {
  text-align: left;
  max-width: 520px;
  margin-right: 50px;
}

.Header-title h1 {
  color: #4cfac3;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

header nav {
  display: flex;
  font-size: 18px;
  justify-content: center;
  transform: translateY(25%);
}

header nav p {
  margin-right: 30px;
}

.online {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.status-online {
  display: flex;
  flex-direction: column;
}

.green-dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #31f411;
  margin-right: 5px;
}

nav img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.App-link {
  color: #61dafb;
}

.sign-in-background {
  background: -webkit-linear-gradient(to right, #8360c3, #2ebf91);
  background: linear-gradient(to right, #8360c3, #2ebf91);
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in {
  max-width: 350px;
  height: 465px;
  text-align: center;
  transform: translateY(25%);
}

.sign-in h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.sign-in form {
  max-width: 350px;
  height: 400px;
  padding: 30px;
  background-color: #00bf83;
  text-align: center;
  color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 8px 4px rgba(19, 19, 19, 0.25);
  color: #fff;
}

.sign-in form label {
  font-size: 14px;
  margin-bottom: 5px;
}

.sign-in p {
  margin-bottom: 30px;
  line-height: 150%;
  font-size: 18px;
}

.sign-in select {
  margin-bottom: 30px;
  width: 230px;
  box-shadow: 0px 2px 4px 3px rgba(38, 38, 38, 0.25);
  border: none;
  appearance: none;
}

.sign-in form button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 4px 3px rgba(38, 38, 38, 0.25);
  cursor: pointer;
  transition: transform 0.3s ease;
  background: linear-gradient(85.58deg, #131c3a -28.1%, #3d508d 91.74%);
  color: #fff;
  font-weight: 600;
}

.sign-in form button:hover {
  transform: scale(1.1);
}

.sign-in select {
  padding: 15px;
  border-radius: 4px;
}

.latest-reviews {
  text-align: center;
}

.latest-reviews h2 {
  margin: 30px 0 30px 0;
}

.reviews-title {
  text-align: center;
  padding: 30px 90px;
}

.reviews-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px 20px;
}

.review-block {
  margin: 15px;
  width: 350px;
  height: 170px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.review-block-title {
  position: absolute;
  top: 15px;
  transform: translateY(-100px);
  transition: transform 0.5s ease-in-out;
  color: #fff;
}

.review-block-title h3 {
  color: #4cfac3;
}

.review-block:hover > .review-block-title {
  transform: translateY(-5px);
}

.review-block-title h3 {
  font-size: 22px;
}

.review-block-title p {
  font-size: 14px;
}

.review-heart {
  position: absolute;
  bottom: 15px;
}

.review-comments {
  position: absolute;
  bottom: 15px;
  left: 50px;
}

.review-arrow {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.review-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(16, 25, 53, 0.85);
  width: 120%;
  height: 120%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.review-overlay:hover {
  opacity: 1;
}

footer {
  background: linear-gradient(89.04deg, #101935 0%, #354476 98.04%);
  color: #fff;
  text-align: center;
  padding: 30px 0 30px 0;
}
